  
<h2>Login<h2>

<form action="<%= session_url %>" method="post">
  <label for="username">Username:</label>
  <input id="user_name" type="text" name="user[user_name]" value="<%= @user.user_name %>">
  <label for="password">Password:</label>
  <input id="password" type="password" name="user[password]" value="">

  <input type="submit" value="Login">
</form>